body {
    margin: 0%;
    padding: 0%;
    border: 1px solid transparent;
}

#section2 {
    position: relative;

    display: flex;
    flex-direction: column;
    
    width: 70%;
    height: 99vh;
    
    float: right;
}

#MyName {
    font-size: 60px;
    text-align: center;
    font-family: "trade winds", system-ui;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 3px;
    line-height: 100px;
}

#about_me {
    position: relative;

    max-width: 80%;
    height: 50%;

    padding-bottom: 10px;
    margin-left: 12%;
    margin-top: 1%;

    border: 5.5pt solid #FAFF00;
    border-radius: 15px;
    background-color: #BD00FF;

    color: white;
    font-family: "jejuhallasan", sans-serif;
    font-weight: bolder;

    transform: rotate(-1deg);
}

#borderAboutMe {
    position: relative;
    top: -38%;

    width: 90%;
    left: 9%;
}

#textAboutMe {
    font-size: 2rem;
    margin-left: 12px;
}

#topLines {
    position: absolute;
    width: 24%;
    height: 24%;
    left: 76%;
}

@media only screen and (max-width: 412px) {
    #section2 {
        width: 100%;
        height: 92%;
        background-color: #CAFFFF;
    }

    #about_me {
        margin-top: 27%;
    }

    #textAboutMe {
        font-weight: bold;
    }
}