html {
    background-color: #292929;
}

#section1 {
    position: relative;
    
    float: left;

    width: 31.1vw;
    height: 99vh;

    background-color: transparent;
}

/* main itens */

#presentation {
    width: 100%;
    height: 60%;
}

#contacts {
    position: relative;

    width: 100%;
    height: 50%;

}

/* childs */

#facePhoto {
    position: relative;
    
    width: 16vw;
    height: 27vh;
    
    margin: 0px;
    border-radius: 100%;
    border: 3px solid #ffffff;

    left: 29%;
    top: -14%;     
}

#semicircle {
    position: relative;

    width: 72%;
    height: 57%;

    left: 21%;
    top: -62%;

    transform: rotate(11deg);
}

#circle {
    position: relative;

    background-color: #00FF0A;
    border-radius: 100%;
    
    width: 50%;
    height: 42%;

    top: 33%;
    left: 35%;
}

#contacts h2 {
    margin: 0px;
    font-family: "julee", cursive;
    text-align: center;
    font-size: 40px;
    text-indent: 10%;
    font-weight: 500;
    color: #ffffff;
}

#groupContact {
    position: relative;
    display: flex;

    width: 30%;
    height: 18%;

    top: -26vh;
    left: 42%;

    -webkit-margin-start: -10px;
}

#groupContact a {
    flex: 1;
}

#contacts a, #linkedin, #github {
    width: 52px;
    height: 57%;
}

#contacts button{
    border: none;
    background-color: transparent;
    padding-right: 3%;
}

#lowerLines {
    position: relative;
    width: 39%;
    
    top: 8%;
}

/* mobile */

@media only screen and (max-width:412px) {
    #section1 {
        position: relative;
    
        display: flex;
        flex-direction: column;
    
        width: 100%;
        height: 40rem;
    }

    #facePhoto {
        width: 56%;
        height: 45%;
        top: -245%;
    }

    #circle {
        width: 50%;
        height: 43%;

        top: -196%;
        left: 32%;
    }
    
    #semicircle {
        content: url("../images/semicircle2.svg");
        
        width: 75%;
        height: 60%;
        
        left: 16%;
        top: -296%;
    }

    #contacts h2 {
        position: relative;
        top: -30%;
    }

    #presentation {
        margin-bottom: 7%;
    }

    #groupContact {
        height: 15%;
        top: -90%;
    }

    #lowerLines {
        position: relative;

        width: 45%;

        top: -10%;
        left: -4%;
    }
}