body {
    margin: 0%;
    padding: 0%;
}

#section2 {
    position: relative;

    display: flex;
    flex-direction: column;
    
    width: 67vw;
    height: 99vh;

    background-color: transparent;
    
    float: right;
}

#MyName {
    font-size: 60px;
    text-align: center;
    font-family: "kreon", serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 3px;
    line-height: 72px;
    color: #00FF0A;
    margin-top: 22px;
}

#about_me {
    position: relative;
    max-width: 80%;
    height: 50%;

    padding-bottom: 10px;
    margin-left: 12%;   

    top: 5%;

    border: 2.1pt solid #ffffff;
    border-radius: 15px;
    background-color: transparent;

    color: #ffffff;
    font-family: "kreon", serif;
    font-weight: 200;
}

#borderAboutMe {
    position: relative;
    top: 1vh;

    width: 90%;
    left: 9%;
}

#textAboutMe {
    font-size: 2.2rem;
    margin-left: 12px;
}

#topLines {
    position: absolute;

    width: 16%;

    left: 84%;
}