#section3 {
    position: relative;

    width: 100%;
    height: 100%;

    clear: both;

    top: 100%;
    background-color: #DFDFDF;
}

#projects {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 40px;
    text-align: center;

    line-height: 7rem;
    margin-top: 0px;
}

#project1, #project2 {
    display: inline-block;
    
    width: 510px;
    
    background-color: #E5FFF7;
    border-radius: 15px;

    padding-bottom: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
}

#tie_tac_toe_title, #Air_girl_title {
    text-align: center;
    font-family: "Itim", cursive;
    text-transform: uppercase;
}

#appendImg1, #appendImg2 {
    max-width: 80%;

    background-color: #6E6E6E;
    border-radius: 20px;

    box-shadow: 6px 12px #5C5C5C;
    margin-left: 10%;
    cursor: pointer;
}

#TicTacToeImg, #AirGirlImg {
    width: 170px;
    height: 290px;

    margin-left: 30%;
    margin-top: 5px;

    border-radius: 5px;
}

#projectText1, #projectText2 {
    position: relative;

    width: 70%;
    
    text-align: left;
    font-size: x-large;
    font-weight: 400px;
    font-family: "Iter", sans-serif;

    margin-top: 30px;
    margin-left: 80px;
}

#play1, #play2 {
    width: 100px;
    height: 40px;
    font-size: larger;
    font-weight: bolder;

    border: 2.5pt solid black;
    background-color: #55E0FF;
    border-radius: 15px;

    text-align: center;
    color: white;
    cursor: pointer;
}

#project1 {
    height: 50%;
}

#project2 {
    position: absolute;
}

.a_button {
    position: relative;
    margin-left: 40%;
    margin-top: 20px;
}

#play1:hover, #play2:hover {
    transform: scale(1.1, 1.1);
}

@media only screen and (max-width: 412px) {
    #groupProject {
        position: relative;
        display: flex;
        flex-direction: row;

        width: 100%;
        height: 85%;

        overflow-x: scroll;
    }

    #project1, #project2 {
        width: 290rem;
    }

    #tie_tac_toe_title,#Air_girl_title {
        width: 280px;
        text-transform: uppercase;
        font-weight: 950px;
        margin-left: 10%;
    }

    #project1 {
        margin-left: 15px;
    }

    #project2 {
        position: relative;
        margin-left: 20px;
        margin-right: 10px;
    }

    #appendImg1,#appendImg2 {
        width: 340px;
        box-shadow: 12px 6px 2px -5px #5C5C5C;
    }

    #TicTacToeImg, #AirGirlImg {
        width: 50%;
        margin-left: 27%;
    }

    #projectText1,#projectText2 {
        margin-left: 16%;
    }

    #play1, #play2 {
        border-radius: 5px;
        font-size: 23px;
    }
}