body {
    margin: 0%;
    padding: 0%;
    border: 1px solid transparent;
}

#section2 {
    position: relative;

    display: flex;
    flex-direction: column;
    
    width: 40%;
    height: 92%;
    background-color: #EAFFFF;
    
    float: right;
}

#about_me {
    position: relative;

    max-width: 70%;
    height: 50%;

    padding-bottom: 10px;
    margin-left: 15%;
    margin-top: 13%;

    border: 1.5pt solid #FAFF00;
    border-radius: 15px;
    background-color: #BD00FF;

    text-align: center;
    color: white;
    font-family: "Inter", cursive;
    font-weight: bold;

    transform: rotate(-1deg);
}

#textAboutMe {
    font-size: x-large;
    font-weight: 10;
}

#skills {
    max-width: 50%;
    height: 20rem;

    background-color: yellow;
    
    border: 1px solid purple;
    border-radius: 15px;

    margin-left: 130px;
    margin-top: 80px;
    margin-bottom: 120px;

    padding-left: 40px;

    transform: rotate(5deg);
}

#skills h1, #skills ul {
    transform: rotate(-5deg);
    font-family: "Inter",sans-serif;
}

#skills li {
    font-size: 22px;
}

@media only screen and (max-width: 412px) {
    #section2 {
        width: 100%;
        height: 92%;
        background-color: #CAFFFF;
    }

    #about_me {
        margin-top: 27%;
    }

    #textAboutMe {
        font-weight: bold;
    }

    #skills {
        max-width: 55%;
        margin-left: 20%;
    }

    #skills h1 {
        font-weight: 800;
        margin-left: -10%;
        margin-top: 4%;
    }

    #skills ul,#skills li {
        font-weight: bolder;
    }

    #skills ul {
        margin-top: -7%;
    }
}