
@media only screen and (max-width:412px) {
    #section1 {
        position: relative;

        clear: both;
    
        display: flex;
        flex-direction: column;
    
        width: 100%;
        height: 96vh;
    }

    #facePhoto {
        position: absolute;
        width: 55%;
        height: 25%;

        top: -106%;
        left: 20%;
    }

    #circle {
        position: absolute;

        width: 55%;
        height: 25%;

        top: -104%;
        left: 25%;
    }
    
    #semicircle {
        position: absolute;

        width: 65%;
        height: 35%;
        
        top: -110%;
        left: 17%;
    }
    
    #collection {
        position: absolute;
        top: 40%;
        left: 30%;
    }

    #contacts h2 {
        position: relative;
        top: 10%;

        text-indent: -2%;
    }

    #presentation {
        margin-bottom: 7%;
    }

    #groupContact {
        height: 15%;
        top: -53%;
        left: 33%;
    }

    #first_a {
        margin-left: -80%;
        margin-right: 24px;
    }

    #lowerLines {
        position: relative;

        width: 45%;

        top: 31%;
        left: -4%;
    }
}