
@media only screen and (max-width:412px) {
    #section1 {
        position: relative;
    
        display: flex;
        flex-direction: column;
    
        width: 100%;
        height: 40rem;
    }

    #facePhoto {
        width: 56%;
        height: 45%;
        top: -245%;
    }

    #circle {
        width: 50%;
        height: 43%;

        top: -196%;
        left: 32%;
    }
    
    #semicircle {
        content: url("/images/semicircle2.svg");
        
        width: 75%;
        height: 60%;
        
        left: 16%;
        top: -296%;
    }

    #contacts h2 {
        position: relative;
        top: -30%;
    }

    #presentation {
        margin-bottom: 7%;
    }

    #groupContact {
        height: 15%;
        top: -90%;
    }

    #lowerLines {
        position: relative;

        width: 45%;

        top: -10%;
        left: -4%;
    }
}