
@media only screen and (max-width:412px) {
    #section1 {
        position: relative;
    
        display: flex;
        flex-direction: column;
    
        width: 100%;
        height: 43rem;
    }

    #facePhoto {
        width: 53%;
        height: 43%;

        top: -228%;
        left: 20%;
    }

    #circle {
        width: 47%;
        height: 40%;

        top: -182%;
        left: 29%;
    }
    
    #semicircle {
        width: 75%;
        height: 60%;
        
        left: 12%;
        top: -281%;
    }
    
    #collection {
        top: -55%;
    }

    #contacts h2 {
        position: relative;
        top: 10%;

        text-indent: -2%;
    }

    #presentation {
        margin-bottom: 7%;
    }

    #groupContact {
        height: 15%;
        top: -53%;
        left: 33%;
    }

    #first_a {
        margin-right: 24px;
    }

    #lowerLines {
        position: relative;

        width: 45%;

        top: -5%;
        left: -4%;
    }
}