@media only screen and (max-width: 500px) {
    #section2_5 {
        height: 52rem;
    }

    #skills_text {
        width: 60%;

        font-size: 27px;

        left: 26%;
    }

    #line {
        left: 10%;
    }
}