@media only screen and (max-width: 412px) {
    #section2 {
        width: 100%;
        height: 55rem;
    }

    #MyName {
        position: relative;
        top: 36%;
    }

    #about_me {
        height: 68%;

        top: 40%;
        margin-left: 7%;

        border: none;
    }

    #textAboutMe {
        height: 99%;
        
        margin-top: 4%;
    }

    #borderAboutMe {
        width: 96%;
        top: 50%;
        left: 4%;
    }

    #topLines {
        content: url("/images/topLines2.svg");
        width: 35%;
        left: 65%;
    }
}