@media only screen and (max-width: 500px) {
    #groupProject {
        position: relative;
        flex-direction: row;
        width: 90vw;
        height: 55%;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-left: 0%;
        margin-bottom: 6%;
        gap: 0.1rem;
    }

    #tie_tac_toe_title,#Air_girl_title {
        width: 280px;
        text-transform: uppercase;
        font-weight: 950px;
        margin-left: 3%;
    }

    #project1, #project2 {
        width: 88%;
        height: 60vh;

        padding-bottom: 40%;
    }

    #project1 {
        margin-left: 15px;
    }

    #project2 {
        position: relative;
        margin-left: 20px;
        margin-right: 10px;
    }

    #appendImg1, #appendImg2 {
        height: 40%;
    }

    #projectText1,#projectText2 {
        font-size: larger;
        margin: 0px 3rem;
    }

    #play1, #play2 {
        position: relative;
        border-radius: 5px;
        font-size: 23px;
    }

    .videos {
        width: auto;
    }
    
    .arrow {
        margin: 5rem 0px;
    }
}