@media only screen and (max-width: 500px) {
    .about-me {
        background-image: url("../../images/ballsMobile_2.svg");
        gap: 1.5rem;    
    }
    
    .line {
        display: none;
    } 

    .text-area-about-me {
        max-width: 85%;
        min-height: 66%;
    }

    .text-about-me {
        font-size: 4vh;
    }

    .contacts {
        margin: 0rem 6.4rem;
        gap: 0px;
    }

    .a-link {
        width: 4rem;
        height: 4rem;
    }
} 