@media only screen and (max-width: 500px) {
    .group-project {
        scrollbar-width: none;
        width: 25.5rem;
        height: 46rem;
    }

    .project-area {
        gap: 0.8rem;
    }

    .item-title {
        font-size: 2rem;
    }

    .visualization-area {
        max-height: 48%;
    }

    .item-bio {
        font-size: 1.7rem;
    }

    .play {
        width: 10rem;
        height: 4rem;
        font-size: 2rem;
    }
}