html {
    background-color: #292929;
}

#section1 {
    position: relative;

    display: flex;
    flex-direction: column;
    
    float: left;

    width: 28.1vw;
    height: 99vh;

    background-color: transparent;
}

/* main itens */

#presentation {
    flex: 30%;
    margin-bottom: -13%;
}

#contacts {
    flex: 70%;
}

/* childs */

#facePhoto {
    position: relative;
    
    width: 57%;
    height: 41%;
    
    margin: 0px;
    border-radius: 100%;
    border: 3px solid #ffffff;

    left: 23%;
    top: -9%;     
}

#semicircle {
    position: relative;

    width: 72%;
    height: 46%;

    left: 17%;
    top: -52%;
}

#circle {
    position: relative;

    background-color: #00FF0A;
    border-radius: 100%;
    
    width: 50%;
    height: 31%;

    top: 33%;
    left: 35%;
}

#contacts h2 {
    margin: 0px;
    font-family: "irish grover", system-ui;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
}

#contacts a, #linkedin, #github {
    width: 55px;
}

#contacts button{
    border: none;
    background-color: transparent;
    padding-right: 3%;
}

#contacts a {
    display: inline-block;
}

#first_a {
    /* filter: #F24BE3; */
    margin-top: 5%;
    margin-left: 32%;
    margin-right: 5%;
}

#lowerLines {
    width: 55%;
    height: 55%;
}

/* mobile */

@media only screen and (max-width:412px) {
    #section1 {
        position: relative;
    
        display: flex;
        flex-direction: column;
    
        width: 100%;
        height: 55rem;
    }

    #facePhoto {
        width: 56%;
        height: 33%;
    }

    #circle {
        top: 26%;
        left: 34%;
    }
    
    #semicircle {
        width: 70%;
        height: 44%;
        left: 16%;
        top: -50%;
    }

    #presentation {
        margin-bottom: 7%;
    }

    #first_a {
        margin-left: 36%;
    }
}